/*Mise en place du menu*/


/*

header nav ul {
    list-style-type: none;
    margin: 0;
	padding: 0;
	overflow: hidden;
	background-color: #EDDEA7;
    top: 0;
    width: 100%;
    border: 2px solid #78643A;
    font-family: 'Open Sans', sans-serif;

}

header nav li {
    float: left;
}

header nav li a {
    display: block;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

header nav li a:hover {
    background-color: #88CCD2;
}

.active {
    background-color: #4CAF50;
}*/

/*Style du background
.background {
	height:600px;
	background: url("/Users/Quentin/GitHub/Ukulele/images/musicien-ukulele.png") no-repeat center center;
 	background-size: cover; 	
}

.backgroundtest {
	background: url("/Users/Quentin/GitHub/Ukulele/images/musicien-ukulele.png") no-repeat center center;
	background-size:100% auto;

}*/

/*Placement du H1*/


/*.CTA {
	background-color: #439AA1;
	border: 1px solid #78643A;
	border-radius: 15px;
	padding: 10px;
	text-align: center;
	/*display: inline;*/
	/*float: right;*/
	/*margin-right: 180px;
	margin-top: 198px;*/
	/*font-size: 22px;
	font-family: 'Open Sans', sans-serif;*/
}

/*.CTA:hover {
	background-color: #88CCD2;
}

a {	text-decoration: none;
	color: black;
}*/


/*2e slide*/
/*.background-2 {
	background-color: #EDDEA7;
	margin: 0 auto;*/
}


/*.iframe, .morceau-jour {
	width: 600px;
	display: inline-block;
	vertical-align: top;*/
}

/*iframe {
	margin-top: 50px;
	margin-bottom: 50px;
}*/

/*
.morceau-jour {
	margin-left: 100px;
	margin-top: 40px;
	margin-bottom: 50px;
	font-family: 'Open Sans', sans-serif;

}

.morceau-jour a:hover {
	color:#78643A;
}
*/


/*2e html*/

/*Général*/
body {
	margin:0;
	font-family:'Open Sans', sans-serif;;
}

.navbar {
	margin-bottom: 0px;
	background-color:#EDDEA7;
}


a {
	color: black;
	text-decoration: none;
}


/*1er slide*/
#section1 {
	background: url("images/musicien-ukulele.png") no-repeat center ;
	background-size: cover;
	padding:15% 0 15% 0;
	width:100%;
	margin:0;

}

h1 {
	/*padding-top: 140px;
	padding-left: 750px;*/
	font-size: 33px;
	/*font-family: 'Open Sans', sans-serif;*/
}

.btn {
	
    

}

.btn-CTA {
	padding: 12px 12px;
	font-size: 18px;
    white-space: normal;
	border-radius: 15px;
    background-color: #439AA1;
}

.btn:hover {
	background-color: #88CCD2;
}

/*2e slide*/

#section2 {
	background-color: #EDDEA7;
	padding-top: 50px;
	padding-bottom: 50px;
	padding-right: 150px;
	border: 1px solid #78643A;
	margin:auto;
}


.taille-p {
	font-size:18px;
}

.taille-p2 {
	font-size:16px;
}



/*Mise en place du carousel*/

.carousel-inner > .item > img,
  .carousel-inner > .item > a > img {
      width: 70%;
      margin: auto;
  }

  #section3 {
  	background-color: #EDDEA7;
  	border: 1px solid #78643A;
  	padding-bottom: 10px;
  }

 /*Mise en place du footer*/

  footer {
  	background-color:#928F7C;
  }

 .margin-footer {
 	margin:auto;
 }

 .btn-footer {
 	margin:15px 10px 10px 20px;
 	background-color:#EDDEA7;
 	border-radius: 10px;

 }




/*Formulaire de contact
@import url(http://fonts.googleapis.com/css?family=Montserrat:400,700);

.back-bottom {    
	background:url("/Users/Quentin/GitHub/Ukulele/images/bottom-2.png") no-repeat center;
  	background-size: cover;
  	background-color: #EDDEA7;
  	border: 2px solid #78643A;

  
}

#feedback-page{
	text-align:center;
}

#form-main{
	width:100%;
	float:left;
	padding-top:0px;
}

#form-div {
	background-color:rgba(72,72,72,0.4);
	padding-left:35px;
	padding-right:35px;
	padding-top:35px;
	padding-bottom:50px;
	width: 450px;
	float: left;
	left: 50%;
	position: relative;
  margin-top:30px;
	margin-left: -260px;
  -moz-border-radius: 7px;
  -webkit-border-radius: 7px;
}

.feedback-input {
	color:#3c3c3c;
	font-family: Helvetica, Arial, sans-serif;
  font-weight:500;
	font-size: 18px;
	border-radius: 0;
	line-height: 22px;
	background-color: #fbfbfb;
	padding: 13px 13px 13px 54px;
	margin-bottom: 10px;
	width:100%;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	-ms-box-sizing: border-box;
	box-sizing: border-box;
  border: 3px solid rgba(0,0,0,0);
}

.feedback-input:focus{
	background: #fff;
	box-shadow: 0;
	border: 3px solid #3498db;
	color: #3498db;
	outline: none;
  padding: 13px 13px 13px 54px;
}

.focused{
	color:#30aed6;
	border:#30aed6 solid 3px;
}

/* Icons ---------------------------------- */
/*#name{
	background-image: url(http://rexkirby.com/kirbyandson/images/name.svg);
	background-size: 30px 30px;
	background-position: 11px 8px;
	background-repeat: no-repeat;
}

#name:focus{
	background-image: url(http://rexkirby.com/kirbyandson/images/name.svg);
	background-size: 30px 30px;
	background-position: 8px 5px;
  background-position: 11px 8px;
	background-repeat: no-repeat;
}

#email{
	background-image: url(http://rexkirby.com/kirbyandson/images/email.svg);
	background-size: 30px 30px;
	background-position: 11px 8px;
	background-repeat: no-repeat;
}

#email:focus{
	background-image: url(http://rexkirby.com/kirbyandson/images/email.svg);
	background-size: 30px 30px;
  background-position: 11px 8px;
	background-repeat: no-repeat;
}

#comment{
	background-image: url(http://rexkirby.com/kirbyandson/images/comment.svg);
	background-size: 30px 30px;
	background-position: 11px 8px;
	background-repeat: no-repeat;
}

textarea {
    width: 100%;
    height: 150px;
    line-height: 150%;
    resize:vertical;
}

input:hover, textarea:hover,
input:focus, textarea:focus {
	background-color:white;
}

#button-blue{
	font-family: Open Sans, sans-serif;
	float:left;
	width: 100%;
	cursor:pointer;
	background-color: #3498db;
	color:white;
	font-size:24px;
	padding-top:10px;
	padding-bottom:10px;
	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	transition: all 0.3s;
  margin-top:-4px;
  font-weight:700;
  border-radius: 20px;
}

#button-blue:hover{
	background-color: #88CCD2;
	color: black;
}
	
.submit:hover {
	color: #3498db;
}
	
.ease {
	width: 0px;
	height: 74px;
	background-color: #fbfbfb;
	-webkit-transition: .3s ease;
	-moz-transition: .3s ease;
	-o-transition: .3s ease;
	-ms-transition: .3s ease;
	transition: .3s ease;
}

.submit:hover .ease{
  width:100%;
  background-color:white;
}

@media only screen and (max-width: 580px) {
	#form-div{
		left: 3%;
		margin-right: 3%;
		width: 88%;
		margin-left: 0;
		padding-left: 3%;
		padding-right: 3%;
	}
}*/


/*footer*/

/*Affichage différent
@media (max-width:768px) {
	body {
		font-size:50px;
	}
}

@media (min-width:768px) and (max-width :1366px) {
	body {
		font-size :2em ;
	}
}

@media (min-width:1366px {
	body {
		font-size:3em;
	}
}
*/


