/*Mise en place du menu*/

body {
	margin:0;
}

header nav ul {
    list-style-type: none;
    margin: 0;
	padding: 0;
	overflow: hidden;
	background-color: #EDDEA7;
    top: 0;
    width: 100%;
    border: 2px solid #78643A;
    font-family: 'Open Sans', sans-serif;

}

header nav li {
    float: left;
}

header nav li a {
    display: block;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

header nav li a:hover {
    background-color: #88CCD2;
}

.active {
    background-color: #4CAF50;
}

/*Style du background*/
.background {
	height:600px;
	background: url("/Users/Quentin/GitHub/Ukulele/images/musicien-ukulele.png") no-repeat center center;
 	background-size: cover;
 	/*opacity: 0.75;*/
 	margin-top:-25px;

}

/*Placement du H1*/
h1 {
	padding-top: 140px;
	padding-left: 750px;
	font-size: 33px;
	font-family: 'Open Sans', sans-serif;
}

.CTA {
	background-color: #439AA1;
	border: 1px solid #78643A;
	border-radius: 15px;
	padding: 10px;
	text-align: center;
	display: inline;
	float: right;
	margin-right: 180px;
	margin-top: 198px;
	font-size: 22px;
	font-family: 'Open Sans', sans-serif;
}

.CTA:hover {
	background-color: #88CCD2;
}

a {	text-decoration: none;
	color: black;
}


/*2e slide*/
.background-2 {
	background-color: #EDDEA7;
	margin: 0 auto;
}


.iframe, .morceau-jour {
	width: 600px;
	display: inline-block;
	vertical-align: top;
}

iframe {
	margin-left: 100px;
	margin-top: 50px;
	margin-bottom: 50px;
}

.morceau-jour {
	margin-left: 100px;
	margin-top: 40px;
	margin-bottom: 50px;
	font-family: 'Open Sans', sans-serif;

}

.morceau-jour a:hover {
	color:#78643A;
}

/*Formulaire de contact*/


/*footer

.box {
  width: 150px;
  height: 150px;
  background: red;
  margin-top: 20px;
  margin-left: auto;
  margin-right: auto;
  -webkit-transition: background-color 2s ease-out;
  -moz-transition: background-color 2s ease-out;
  -o-transition: background-color 2s ease-out;
  transition: background-color 2s ease-out;
}

.box:hover {
  background-color: green;
  cursor: pointer;
}

.hidden-box {
  display: none;
  background-color: black;
  opacity: 0.8;
  height: 100%;
}
.parent {
  background-color: yellow;
  height: 200px;
  width: 200px;
  margin: auto;
}
.parent:hover .hidden-box {
  display: block;
}
*/